/* section.merchantsetup {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    font-family: 'Avenir-Heavy';
} */
 body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.merchant-container {
    width: 500px;
    margin: 0 auto;
    padding: 5rem;
}

.merchant-head img {
    max-width: 92px;
    margin-top: -40px;
}

.merchant-head h2 {
    display: inline-block;
    font-size: 50px;
    color: #8B006E;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

.merchant-head {
    text-align: center;
    vertical-align: top;
    padding-bottom: 100px;
}

.merchant-head img {
    margin-right: 20px;
}

.merchant-head h2 {
    font-weight: 700;
    padding-left: 0;
}

.merchantsetup-proceed p {
    font-family: 'Avenir-Heavy';
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width:480px) {
    /* .merchant-container {
        width: 300px;
    } */
    .merchant-head h2 {
        font-size: 35px;
    }
}