.static-page {
    margin-top: 60px;
}

.static-page p {
    margin-bottom: 25px;
}

.static-page h3 {
    margin-bottom: 30px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    display: inline-block;
    font-weight: 600;
}

.static-page h4 {
    margin-bottom: 20px;
    margin-top: 25px;
    font-weight: 600;
}

.static-page ul {
    list-style-type: disc;
    padding-left: 20px;
}

.static-page ul li {
    margin-bottom: 10px;
}

.static-page ul li:last-child {
    margin-bottom: 25px;
}